<html>
<head> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
$(document).ready(function() {
   $("#commandUp").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "1", leftright: "0", tofro: "0"});
   });
   $("#commandUp").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
   $("#commandDown").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "-1", leftright: "0", tofro: "0"});
   });
   $("#commandDown").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
   $("#commandLeft").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "0", leftright: "1", tofro: "0"});
   });
   $("#commandLeft").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
   $("#commandRight").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "0", leftright: "-1", tofro: "0"});
   });
   $("#commandRight").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
   $("#commandForward").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "1"});
   });
   $("#commandForward").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
   $("#commandBackward").on('mousedown',function(){
    $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "-1"});
   });
   $("#commandBackward").on('mouseup',function(){
      $.post("issueCommand",{command: "Move", updown: "0", leftright: "0", tofro: "0"});
   });
});
  </script>

</head>
 <body>
<form name="upCommand" action = "{{url_for('issueCommand')}}" method="POST">
	<input type="button" name="commandUp" id="commandUp"  value="Up"/>
        <input type="button" name="commandDown" id="commandDown" value="Down"/>
        <input type="button" name="commandLeft" id="commandLeft" value="Left"/>
        <input type="button" name="commandRight" id="commandRight" value="Right"/>
        <input type="button" name="commandForward" id="commandForward" value="Forward"/>
        <input type="button" name="commandBackward" id="commandBackward" value="Backward"/>

</form>


 </body>
</html>
